img{
   margin-left: 40%;
}
body{
    background-color: #9869a1;
    font-family: 'Montserrat', sans-serif;
}
.formu{
    width: 60%;
   margin: auto;
   height: 40%;
}
@media screen and (max-width:992px){
    .descripcion{
        width: 90%;
    }
    .formu{
        width: 80%;
        
    }
}
@media screen and (max-width:1123px){
    .descripcion{
        width: 90%;
    }
    
}